    body{
      background: #1e222d;
    }

    a{
    color: white;
    text-decoration: none; 
    }
#signup{
    margin-right: 40px;
}

#purchased{
    margin-left: 40px;
}

#codeseller{
font-size: 20px;
color: white;
}

#header{
    margin: auto;
    height: 50px;
    font-family: monospace;
    font-size: 14px;
    width: 94%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#left-side-header{
    display: flex;
    align-items: center;
}

#my-code{
    margin-left: 75px;
}