<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ code.title }}</title>

    <link href="/static/css/content.css" rel="stylesheet" type="text/css"/>
</head>
<body>
    {% include "header.html" %}

    <div id="code-cont">

        <div id="code-title">{{ code.title }}</div>

        <img id="code-img" src="{{ url_for('codes_images', code_id=code.id) }}" alt="">

    </div>

        <div id="code-button">
        {% if check or user_id == code.author_id %}
            <div class="purchase-button"><a id="purchase-button-link" href="{{ url_for('download_code', code_id=code.id) }}">Download</a></div>
        {% else %}
            <div class="purchase-button"><a id="purchase-button-link" href="{{ url_for('make_purchase', code_id=code.id) }}">Buy</a></div>
        </div> 
        {% endif %}

        {% if user_id == code.author_id %}
            <form action="{{ url_for('delete_code', code_id=code.id) }}" method="post">
                <input type="submit" value="DELETE">
            </form>
        {% endif %}
</body>
</html>
