<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Code Seller</title>

    <link href="/static/css/content.css" rel="stylesheet" type="text/css"/>
</head>
<body>

{% include "header.html" %}

{% with messages = get_flashed_messages() %}
    {% if messages %}
        <p>{{ messages[0] }}</p>
    {% endif %}
{% endwith %}</div>

{% if admin %}
    <p>Admin functionality</p>
    <a href="{{ url_for('admin_add_user') }}">Add new user</a>
{% endif %}

<div id="store-title">Store</div>

<div id="content-cont">
    {% for code in codes %}
        <div class="soft-cont">
            <div class="soft-title"><a href="{{ url_for('code_page', code_id=code.id) }}"><p>{{ code.title }}</p></a></div>
            <div class="soft-image"><a href="{{ url_for('code_page', code_id=code.id) }}"><img class="image" src="{{ url_for('codes_images', code_id=code.id) }}" alt=""></a></div>
        </div>
    {% endfor %}
</div>

</body>
</html>
